body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 40px;
}

/* image */
img {
    width: 250px;
    margin-top: 20px;
    border-radius: 10px;
    display: none;
    transition: opacity 0.5s ease;
    margin-left: auto;
    margin-right: auto;
}

.visible {
    display: block;
    opacity: 1;
}

/* button */
button {
    background-color: #ffa768;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ff8a37;
}

/* links */
a {
    margin: 0 10px;
    text-decoration: none;
    color: #0077b5;
}

/* faq section */
.faq-item {
    background: #ffa768;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.faq-item:hover {
    background: #ff8a37;
}

.question {
    font-weight: bold;
    margin: 0;
}

.answer {
    display: none;
    margin-top: 10px;
}

.faq-item.active .answer {
    display: block;
}